base58==2.1.1 ; python_version >= "3.8" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.11"
fastecdsa==2.2.3 ; python_version >= "3.8" and python_version < "3.11"
mnemonic==0.20 ; python_version >= "3.8" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.11"
pysodium==0.7.12 ; python_version >= "3.8" and python_version < "3.11"
secp256k1==0.14.0 ; python_version >= "3.8" and python_version < "3.11"
